.grid{
    display: grid;
    grid-template-areas:
    "one one"
    "two three"
    "four five";
    gap: 20px;
}

.grid > div:nth-child(1){
    grid-area:one;
}
.grid > div:nth-child(2){
    grid-area: two;
}
.grid > div:nth-child(3){
    grid-area: three;
}
.grid > div:nth-child(4){
    grid-area: four;
}
.grid > div:nth-child(5){
    grid-area: five;
}
/* .grid > div:nth-child(6){
    grid-area: "six";
} */

.select{
    height: 35px;
}

.btn{
    height: 35px;
    width: 120px;
}